{% include "cabecera.html" %}
<br><br><br>
 <div class="container-fluid row m-0 vh-90 justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header bg-success">EDITAR</div>
                <div class="card-body">
                    <form action="/update_poli/{{dato[0]}}" method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="numero" class="form-label">NUMERO</label>
                            <input type="text" class="form-control" name="numero" id="numero" value="{{dato[1]}}">
                        </div>
                        <button class="btn btn-info btn-sm" id="btn_delete2" type="submit">ACTUALIZAR</button>
                    </form>
                </div>
            </div>
        </div>    
    </div>
<script src="/static/js/editar_pp.min.js"></script>