<div class="col-md-7">
    <div class="card">
        <div class="card-header bg-success text-center">SELLOS INCAUCA</div>
        <div class="card-body">
            <h1 class="h1 card-title"><span id="total"></span></h1>
            <button class="btn btn-info btn-sm" onclick="totalSellos()">TOTAL INCAUCA</button>
        </div>
    </div>
</div>


<div class="col-md-7">
    <div class="card">
        <div class="card-header bg-success text-center">SELLOS INCAUCA</div>
        <div class="card-body">
            <h1 class="h1 card-title"><span id="total"></span></h1>
            <button class="btn btn-info btn-sm" onclick="totalSellos()">TOTAL INCAUCA</button>
        </div>
    </div>
</div>


"SELECT MONTHNAME(fecha) AS mes, COUNT(*) AS cantidad_eventos FROM polipropileno GROUP BY MONTHNAME(fecha) DESC UNION SELECT MONTHNAME(fecha) AS mes, COUNT(*) AS cantidad_eventos FROM incauca GROUP BY MONTHNAME(fecha) DESC;"