<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/sweetalert.min.css">
    <link rel="stylesheet" href="/static/css/registro.css">    
</head>
<body>
   <div class="container"> 
     <div class="card">
        <div class="card-header bg-primary text-center"><img src="/static/img/logo.png" alt=""></div>
          <div class="card-body">
            <form action="/register" method="post" enctype="multipart/form-data">
              <h3 class="text-center"><img width="50px" height="50px" src="/static/img/registro.png" alt=""></h3> 
                <div class="mb-2">
                    <label for="username" class="form-label">USERNAME</label>
                    <input type="text" class="form-control" id="username" name="username" required />
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">PASSWORD</label>
                    <input type="password" class="form-control" id="password" name="password" required />
                </div>
                <div class="mb-2">
                    <label for="role" class="form-label">ROLE</label>
                    <input type="text" class="form-control" id="role" name="role" required />
                </div>
                <br>
                <button type="submit" class="btn btn-outline-info btn-sm" id="btn-registrar" onclick="mostrarAlerta()">Registrar</button>
                <a class="btn btn-outline-success btn-sm" href="/">back</a>
            </form>
         </div>
       </div>
     </div>
     <script src="/static/js/registroUsuario.min.js"></script>
    <script src="/static/js/sweetalert.min.js"></script>
   </body>
</html>

